@tailwind base;
@tailwind components;
@tailwind utilities;
@import "aos/dist/aos.css";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  max-width: 100dvw;
}
.cta-button {
  background-color: rgb(237, 81, 194);
  color: white;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: rgb(0, 8, 135);
}

